
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.4rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--bg-blue);
    cursor: pointer;
    color: var(--dark-blue);
}